@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=cyrillic-ext,latin);

*{
	font-family: 'Open Sans', sans-serif, arial;
	margin: 0;
	outline: 0;
}

body{
	margin: 0;
}

a{
	text-decoration: none;
	color: black;
}

input{
	margin-top:5px;
	margin-bottom:10px;
	padding:10px;
	padding-left:20px;
	font-size: 1em;
	border:2px solid rgb(200, 187, 187);
}

input:focus{
	border:2px solid rgb(144, 140, 140);
}

input.success{
	border:2px solid rgb(121, 174, 136);
}

input.error{
	border:2px solid rgb(249, 143, 143);
}

/*Buttons*/
.btn{
	border: 0;
	text-decoration: none;
	text-align: center;
	outline: 0;
	margin: 5px;
}

.btn:focus{
	border: 0;
}

.btn:active{
	border: 0;
}

.btn:hover{
	cursor: pointer;
}

/*Button size*/
.btn.small{
	padding: 8px 16px;
	font-size: 1em;
}

.btn.medium{
	padding: 13px 25px;
	font-size: 1.5em;
}

.btn.large{
	padding: 18px 35px;
	font-size: 2em;
}

.btn.bold{
	font-weight: bold;
}

.btn.radius{
	border-radius: 5px;
}

/*Button colors*/
.btn.red{
	background: rgb(161, 62, 62);
	color: white;
}

.btn.red:hover{
	background: rgb(202, 63, 63);
}

.btn.green{
	background: rgb(42, 137, 58);
	color: white;
}

.btn.green:hover{
	background: rgb(50, 168, 70);
}

.btn.yellow{
	background: rgb(200, 192, 39);
	color: white;
}

.btn.yellow:hover{
	background: rgb(216, 208, 46);
}

.btn.blue{
	background: rgb(69, 104, 134);
	color: white;
}

.btn.blue:hover{
	background: rgb(100, 148, 189);
}

/*labels*/

.label{
	padding:8px;
	margin-bottom:5px;
}

.label.red{
	background: red;
	color: white;
}

.label.blue{
	background: blue;
	color: white;
}